.container {
  display: flex;
  justify-content: center;
}

.user-form {
  display: flex;
  flex-direction: column;
}

label {
  font: var(--MedMedium);
  margin-top: 25px;
}

.signup {
  display: flex;
  flex-direction: column;
  width: 641px;
  padding: 30px;
  background-color: var(--grey-colour);
  border-radius: 25px;
}

.text-input {
  border-radius: 10px;
  height: 20px;
  padding: 10px 15px 10px 15px;
  margin: 10px 0px 10px 0px;
  border-style: solid;
  border-color: #c8c8c8;
  color: #6c6f7d;
  background: #f6f6f6;
  outline: none;
  border-width: 3px;
  font: var(--MedRegular);
}

.submit-btn {
  width: 343px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--primary-colour);
  color: var(--white-colour);
  font: var(--MedBold);
  border: none;
}

.submit-btn:hover {
  color: var(--primary-colour);
  background-color: var(--white-colour);
  cursor: pointer;
}

h1 {
  color: var(--black-colour);
  font: var(--BigBold);
}

.ref-link {
  font: var(--MedMedium);
  color: var(--primary-colour);
  margin-top: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}